[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
numpy = "*"
opencv-python = "*"
tensorflow = "==2.15.0"
pandas = "*"
matplotlib = "*"
mediapipe = "*"

[dev-packages]

[requires]
python_version = "3.10"
